<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.schooltimetablegenerator.persistence.ClassRoomRepository">

    <resultMap id="resultMap" type="com.solvd.schooltimetablegenerator.domain.Classroom" autoMapping="false">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
    </resultMap>  
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO classroom (number)
        VALUES (#{number})
    </insert>  
    
    <delete id="delete" parameterType="Long">
        DELETE FROM classroom WHERE id=#{id}
    </delete> 
    
    <update id="update" parameterType="com.solvd.schooltimetablegenerator.domain.Classroom">
        UPDATE classroom SET number=#{number}
        WHERE id=#{id}
    </update> 
    
    <select id="selectById" parameterType="Long" resultMap="resultMap">
        SELECT id, numberFROM classroom WHERE id=#{id}
    </select>
    
    <select id="selectAll" resultMap="resultMap">
        SELECT id, number FROM classroom
    </select>
</mapper>